<h1>Landings#index</h1>
<p>Find me in app/views/landings/index.html.erb</p>

<div class= "row dashboard">
<div class="col-md-6 purchase">
	Purchase
</div>

<div class="col-md-6 supplier">
	Supplier Detail
</div>
</div>

<div class= "row dashboard">
<div class="col-md-6 add-guitar">
	Add Guitar
</div>

<div class="col-md-6 view-stock">
	View Stock
</div>

</div>
